h1 {
    text-align: center;
    font-size: 70px;
    color: blue;
}

body {
    background-image: url(pictur/Gibson-USA-Les-Paul-Standard-50s-Electric-Guitar-Heritage-Cherry-Sunburst-12793.webp);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.doodoo {
    color: rgb(0, 0, 0);
    font-size: 40px;
}